body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
}

h1 {
  color: #333;
  text-align: center;
}

form {
  padding-right: 150px;
  padding-left: 150px;
  margin-bottom: 20px;
}

label {
  margin-top: 10px;
  display: block;
}

input[type="text"],
input[type="url"],
textarea,
select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

#result {
  background-color: #e2e2e2;
  padding: 20px;
  border-radius: 4px;
  margin: 0 150px 50px 150px;
}
